.bg {
	width: 530px;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 20px;
	margin: 0px auto;
	box-shadow: 0 0 5px #999;
	background: #f5f5f5;
	font-size: 0;
	display: flex;
}
#gameBoxBg {
	width: 330px;
	padding: 8px;
	background: url(../img/3.jpg);
	background-size: auto 100%;
	background-position-x: 580px;
}
#gameBox {
	width: 330px;
	height: 450px;
	overflow: hidden;
	position: relative;
}

.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mask button {
	width: 100px;
	height: 40px;
	opacity: 0.7;
}

.wangge {
	width: 30px;
	height: 30px;
	display: inline-block;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	box-sizing: border-box;
	position: absolute;
	background: #f9f9f9;
	opacity: 0.9;
}

.block {
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 14px;
	color: #fff;
	border: 2px solid #fff;
	background: #ff9000;
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
}

#rigth {
	width: 180px;
	height: 450px;
	padding: 11px 10px;
	box-sizing: border-box;
}
#rigth .next {
	width: 100%;
	height: 160px;
	position: relative;
}
#rigth #score,
#rigth #level {
	width: 100%;
	height: 40px;
	margin: 10px 0;
	font-size: 16px;
	color: #888;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
#rigth #level .level,
#rigth #score .score {
	font-size: 16px;
	color: #555;
	margin-left: 5px;
	margin-top: 0px;
	transition: 0.3;
}
#rigth #pause {
	width: 100%;
	height: 40px;
	margin: 10px 0;
	color: #333;
	font-size: 16px;
}
#rigth p {
	margin: 0;
	font-size: 13px;
	color: #555;
}
